# Rust
target/
Cargo.lock

# Python
__pycache__/
*.py[oc]
*.egg-info/
dist/
build/
wheels/
.venv/
.python-version
.cache/

# C++
*.o
*.a
*.so
*.dylib
*.dSYM/
compile_commands.json

# maturin / mixed builds
*.whl

# editor
.DS_Store

# site
site/
