# Rust
target/
Cargo.lock
.cargo

# Python
__pycache__/
*.py[oc]
*.egg-info/
dist/
build/
wheels/
.venv/
.python-version

# C++
*.o
*.a
*.so
*.dylib
*.dSYM/

# maturin / mixed builds
*.whl

# editor
.DS_Store
